@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat&display=swap');

:root {
	--marrom: #452a31;
	--azul: #0073ab;
	--azul-claro: #2ea2d0;
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	position: relative;
}

a {
	text-decoration: none;
	cursor: pointer;
}

button {
	cursor: pointer;
}
.material-icons {
	display: none;
}
.backBanner-1 {
	width: 100%;
	position: absolute;
	z-index: 0;
	min-height: 15%;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 60px 10%;
	font-family: Montserrat;
	flex-wrap: wrap;
}

header img {
	max-width: 256px;
	width: 20%;
	min-width: 100px;
	margin: auto;
}

header a {
	color: #fff;
	padding: 10px 20px;
	font-weight: bold;
	font-size: 25px;
	min-width: 200px;
}
header a:hover {
	opacity: 0.5;
}
header a:active {
	opacity: 1;
}

header nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.secaoApresentacao {
	display: flex;
	font-family: 'Amatic SC';
}

.racao {
	position: absolute;
	width: 35vw;
	margin-top: 150px;
	left: 0px;
}
.secaoApresentacao {
	display: flex;
	justify-content: center;
}

.textoApresentacao {
	display: flex;
	flex-direction: column;
	font-size: 60px;
	align-items: center;
	color: var(--marrom);
}
.textoApresentacao strong {
	color: var(--azul);
	font-weight: bolder;
}

.balaoBanner {
	width: 40vw;
	padding-top: 5%;
}

.balaoBanner h1 {
	transform: rotate(-20deg);
	font-size: 70px;
	margin-top: -30px;
	color: var(--azul);
}

.racao-2 {
	width: 30%;
}
.nossaHistoria {
	display: flex;
	margin-top: 200px;
	align-items: center;
	justify-content: flex-end;
	font-family: Montserrat;
	margin-bottom: 100px;
}

.cao-1 {
	position: absolute;
	top: 50px;
	width: 30%;
	left: 0px;
	z-index: 1;
}
.nossaHistoria h2 {
	line-height: 55px;
	z-index: 2;
}
.nossaMarrom {
	font-size: 60px;
	color: var(--marrom);
	font-weight: bolder;
}
.historiaazul {
	font-size: 100px;
	color: var(--azul-claro);
	font-weight: bolder;
}

.nossaHistoria h2 {
	display: flex;
	flex-direction: column;
	line-height: 70px;
}

.descHistoria {
	max-width: 600px;
	width: 80%;
	font-size: 30px;
	color: #6c6c6c;
	margin-left: 50px;
	margin-right: 5%;
}

.descHistoria a {
	display: flex;
	color: var(--azul-claro);
	font-size: 20px;
	font-weight: bolder;
	margin-top: 50px;
}
.descHistoria a:hover {
	font-size: 27px;
	transition: all 500ms;
}
.descHistoria a:active {
	color: var(--azul);
}
.secaoFrango {
	background-image: url('/assets/historia/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-family: 'Amatic SC';
	width: 100%;
	padding: 100px 0px;
}

.secaoFrango h2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 70px;
	font-weight: bolder;
	margin-bottom: 30px;
}

.frangoTextoMenor {
	font-size: 40px;
	letter-spacing: 8px;
}

.frangoTextoMaior {
	font-size: 90px;
}

.secaoFrango p {
	font-size: 25px;
	font-family: Montserrat;

	max-width: 800px;
	width: 80%;
	text-align: center;
	margin-top: 30px;
	font-weight: 700;
	opacity: 0.7;
}

.alinhamentoVidaPerfeita {
	display: flex;
	justify-content: center;
	padding: 5%;
}

.secaoVidaPerfeita {
	width: 50%;
}
.cao-2 {
	margin: auto 0;
	width: 25%;
	min-width: 300px;
}

.secaoVidaPerfeita h2 {
	font-family: 'Amatic SC';
	font-size: 90px;
	padding-bottom: 30px;
	color: var(--marrom);
}

.secaoVidaPerfeita p {
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 600;
	padding-bottom: 60px;
}
.secaoVidaPerfeita button {
	border: none;
	font-family: Montserrat;
	font-size: 30px;
	padding: 20px 30px;
	background-color: var(--azul-claro);
	color: #fff;
	font-weight: 600;
}
.secaoVidaPerfeita button:hover {
	opacity: 0.9;
	transition: all 500ms;
}
.secaoVidaPerfeita button:active {
	background-color: var(--azul);
}

.breeds {
	display: flex;
	flex-direction: column;
	padding: 100px 0px;
	width: 30%;
}

.tituloBreeds {
	font-family: 'Amatic SC';
	color: var(--marrom);
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 30px;
}

.breeds label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: #969696 solid 2px;
	margin-bottom: 60px;
	width: 90%;
}

.breeds label:hover {
	border-bottom: var(--azul-claro) solid 2px;
}

.breeds input {
	font-family: Montserrat;
	font-size: 25px;
	padding: 20px 0px;
	border: none;
	background-color: transparent;
	font-weight: 700;
	outline: none;
	width: 30%;
}

.botaoBreeds {
	border: none;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: bolder;
	background-color: var(--azul-claro);
	color: #fff;
	padding: 20px 0px;
	width: 190px;
}

.botaoBreeds:hover {
	background-color: var(--azul);
	transition: all 500ms;
}
.botaoBreeds:active {
	background-color: var(--azul-claro);
}
.longo {
	width: 300px;
}

.breeds p {
	font-family: Montserrat;
	font-size: 25px;
	padding-bottom: 60px;
	color: #5a5a5a;
}
.breedsRow {
	display: flex;
	align-items: center;
	width: 70%;
	margin: 10% auto;
	flex-direction: row-reverse;
}
.racao-3 {
	width: 60%;
	min-width: 300px;
}
.breedsRow p {
	font-family: Montserrat;
	font-size: 25px;
	padding-bottom: 60px;
	color: #5a5a5a;
}

footer {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	margin: 3%;
	background-image: url('assets/historia/cao-footer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: calc(100vw - 60vw);
}

footer nav {
	display: flex;
	flex-direction: column;
}

footer nav div {
	display: flex;
}

footer a {
	display: flex;
	color: var(--marrom);
	font-family: Montserrat;
	font-size: 1.5vw;
	font-weight: bolder;
	padding: 20px 30px;
}

footer p {
	font-family: Montserrat;
	font-size: 20px;
	font-weight: bolder;
	padding: 20px 30px;
}

address img {
	padding: 0px 10px;
	width: 50px;
}

@media (max-width: 1000px) {
	.backBanner-1 {
		display: none;
	}
	header {
		padding: 5%;
	}
	header nav a {
		color: #000;
	}
	.racao {
		position: relative;
		margin: 5%;
	}
	.balaoBanner {
		display: none;
		position: static;
	}

	.secaoApresentacao {
		background-image: url('assets/topo/banner.jpg');

		flex-direction: column-reverse;
		align-items: center;
	}

	.cao-1 {
		display: none;
	}

	.nossaHistoria {
		display: flex;
		flex-direction: column;
		padding: 0px;
		margin: 0px;
	}

	.nossaHistoria h2 {
		position: static;
		padding: 50px;
	}
	.racao-2 {
		margin-left: auto;
		margin-right: 5%;
	}

	.secaoFrango p {
		width: 80%;
	}

	.secaoVidaPerfeita p {
		font-size: 20px;
	}

	.secaoVidaPerfeita {
		margin-right: 0;
	}
	.secaoVidaPerfeita h2 {
		font-size: 60px;
	}
	.breedsRow {
		flex-direction: column;
	}
	.racao-3 {
		display: none;
		margin-left: auto;
	}
}

@media (max-width: 650px) {
	header {
		flex-wrap: nowrap;
	}
	.menu-resp {
		width: 50px;
		height: 2px;
		background-color: var(--marrom);
	}
	.material-icons {
		display: flex;
		cursor: pointer;
	}

	header nav {
		flex-direction: column;
		align-items: flex-end;
		position: absolute;
		right: 0;
		z-index: 2;
		top: 0;
		background-color: #fff;
		width: 100vw;
	}
	.nav {
		display: none;
		margin-top: 60px;
	}

	.menu-a {
		display: block;
		margin: 0 auto;
	}

	header img {
		margin-right: auto;
	}

	.secaoApresentacao h1 {
		font-size: 40px;
	}

	.nossaMarrom {
		font-size: 30px;
	}
	.historiaazul {
		font-size: 60px;
	}
	.nossaHistoria h2 {
		line-height: 35px;
	}
	.descHistoria .p {
		font-size: 20px;
	}

	.frangoTextoMenor {
		font-size: 20px;
		letter-spacing: 5px;
	}

	.frangoTextoMaior {
		font-size: 60px;
	}
	.secaoFrango h2 {
		line-height: 35px;
	}
	.cao-2 {
		display: none;
	}
	.secaoVidaPerfeita {
		width: 90%;
	}
	.secaoVidaPerfeita button {
		font-size: 20px;
	}
}
